link(rel='stylesheet' type='text/css' href='/public/build/styles.css')
.navbar
  p.nav-title Admin
  select.nav-item(default='posts')
    option(value='posts') Posts
    option(value='newpost') New Post
    option(value='logout') Logout