link(rel='stylesheet' type='text/css' href='/public/build/styles.css')
.navbar.cf.rounded
  a.nav-title.fl(href='/admin') admin
  select.nav-select(default='posts')
    option(value='posts') edit posts
    option(value='newpost') new post