link(rel='stylesheet' type='text/css' href='/public/build/styles.css')
link(href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css')
link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css')
.navbar.cf.rounded
  a.nav-title.fl(href='/admin') a d m i n