doctype
html
  head
    title node?
    link(rel='stylesheet' type='text/css' href='public/css/main.css')
    link(rel='stylesheet' type='text/css' href='public/css/pretty.css')
  body
    include _header.jade
    .container
      h1 Welcome Back
      a(href='/posts/create') Make a post
    each post in posts
      .container
        a(href='/posts/edit/' + post.url)= post.title
    include _footer.jade