doctype
html
  head
    title node?
    link(rel='stylesheet' type='text/css' href='public/css/main.css')
    link(rel='stylesheet' type='text/css' href='public/css/pretty.css')
  body
    include _header.jade
    h1 Welcome Back
    a(href='/posts/create') Make a post
    include _footer.jade