$dark_gray: #141414;
$soft_gray: #DEDEDE;
$mid_gray: #1F1F1F;
$space_purp: #745275;
$beige: #C4B78D;
$blue: #AFB4C4;

// Fonts
$monospace: "Lucida Console", Monaco, monospace;
$mainfont: Verdana, Geneva, sans-serif;