body {
  background-color: $dark_gray;
  font-family: $mainfont;
}

a {
  color: $blue;
  text-decoration: none;
  font-weight: bold;
}

.terminal {
  background-color: $dark_gray;
  padding: 5%;
}

.terminal > .prompt {
  margin: 1%;
}

#search {
  border: none;
  outline: none;
  background-color: $dark_gray;
  font-family: $mainfont;
  color: $soft_gray;
  font-size: 1em;
}

.post-list {
  padding-left: 5%;
  display: block;
  margin: 2%;
  padding-top: 3%;
  background-color: $mid_gray;
  padding-bottom: 3%;
}

.dkcontainer {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  color: $soft_gray;
  margin: 1em;
}

.console {
  font-family: $monospace;
}

.container {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;  
  border-radius: 8px;
  background-color: $mid_gray;
  padding: 3em;
  color: $soft_gray;
  margin: 1em;
}

.textarea-lg {
  height: 100%;
}

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.post-link {
  float: right;
  color: $soft_gray;
}

.post-title {
  color: $soft_gray;
}

.post-date {
  color: $space_purp;
  font-size: 0.8rem;
}

.soc {
  height: 125px;
  width: 125px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;  
  border-radius: 8px;
  overflow: hidden;
}

.img {
  display: inline-block;
  padding: 2%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;  
  border-radius: 8px;
  overflow: hidden;
}