.navbar {
  padding: 2%;
  margin: 0 auto;
}

.nav-select {
  float: right;
  font-size: 1.2rem;
  color: $soft_gray;
  border: none;
  padding: 1%;
  background-color: $mid_gray;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;  
  border-radius: 8px;
}

.nav-select > li {
  display: inline-block;
  padding: 20px;
}

.nav-title {
  font-size: 4rem;
  padding: 35px;
  color: $soft_gray;
  text-decoration: none;
  font-family: $monospace;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.fl {
  display: inline;
  float: left;
}