link(rel='stylesheet' type='text/css' href='/public/build/styles.css')
.navbar.cf.rounded
  a.nav-title.fl(href='/') tmlbl
  select.nav-select(default='posts')
    option(value='posts') blog
    option(value='newpost') about
    option(value='logout') portfolio