doctype
html
  head
    title node?
  body
    include _header.jade
    .container
      h1 Tim Lebel
      p 
        | I am a full-stack JavaScript developer
        | specializing in Node.js, particularly
        | in implementing RESTful services with
        | Node and Express framework.
    include _footer.jade