doctype
html
  head
    title Tim Lebel | JavaScript Developer
  body
    include _header.jade
    .container
      h1 Tim Lebel
      p 
        | I am a full-stack JavaScript developer
        | specializing in Node.js, particularly
        | in implementing RESTful services with
        | Node and the Express framework, single-
        | page applications using modern libraries,
        | and data visualizations with D3.js.
      a(href='http://github.com/tmlbl')
        .img
          img.soc(src='/public/img/git.png')
      a(href='http://linkedin.com/in/tlebel')
        .img
          img.soc(src='/public/img/in.png')
      a(href='http://twitter.com/nodebro')
        .img  
          img.soc(src='/public/img/twit.png')
    include _footer.jade