doctype
html
  head
    title node?
    link(rel='stylesheet' type='text/css' href='/public/build/styles.css')
    link(rel='stylesheet' type='text/css' href='public/css/pretty.css')
  body
    include _header.jade
    .dkcontainer
      h1.console tim@website:$ 
        span _
    include _footer.jade