doctype
html
  head
    title node?
  body
    include _header.jade
    .container
      h1 Search All Posts
      .terminal
        label.prompt root@tmlbl:~/posts# grep
        input#search
    each post in posts
      a.post-list(href='/posts/' + post.url)= post.title
    include _footer.jade
    script(src='https://code.jquery.com/jquery-2.1.0.min.js')
    script(src='public/build/browser.js')
