div {
  background-color: #141414;
  padding: 1em;
  border-radius: 10px; }

pre {
  white-space: pre-wrap; }

pre.prettyprint {
  display: block;
  background-color: #141414;
  border: none !important;
  margin: 0.5em; }
