$dgray: #141414;

@mixin rounded-corners {
  border-radius: 10px;
}

div {
  background-color: $dgray;
  padding: 1em; 
  @include rounded-corners;
}

pre {
  white-space: pre-wrap;
}

pre.prettyprint { 
  display: block; 
  background-color: $dgray; 
  border: none !important; 
  margin: 0.5em;
}